@model HotelService.Models.Hotel

@{
    ViewData["Title"] = "Edit";
}
<div class="container bg-light px-5 border border-1">
    <h1>Edytuj hotel</h1>
    <hr />

    <form asp-action="Edit" class="p-5 row" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="FolderName" />

        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="FeaturesIdList" class="control-label"></label>
                <select asp-for="FeaturesIdList" class="form-control" asp-items="ViewBag.FeaturesId" required></select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12">
                <label class="col-form-label">Wybierz zdjęcie będące miniaturką</label>
                <input asp-for="HotelPhoto" class="form-control" accept="image/*" />
                <span asp-validation-for="HotelPhoto" class="text-danger"></span>
                <span class="text-danger">@Html.ValidationMessage("IncorrectExtensionError")</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12">
                <label class="col-form-label">Wybierz zdjęcia obiektu</label>
                <input asp-for="HotelPhotos" class="form-control" accept="image/*" />
                <span asp-validation-for="HotelPhotos" multiple class="text-danger"></span>
                <span class="text-danger">@Html.ValidationMessage("IncorrectExtensionPhotoError")</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="GoogleMapsLocation" class="control-label">Lokalizacja obiektu</label>
                <input asp-for="GoogleMapsLocation" class="form-control" />
                <small>Jeśli chcesz, możesz wkleić powyżej link do mapy google, aby wyświetlić ją w ofercie obiektu (jeśli nie wiesz jak to zrobić, <a target="_blank" href="https://wcmshelp.ucsc.edu/advanced/embedding-google/google-maps.html">kliknij tutaj</a>).</small>
                <span asp-validation-for="GoogleMapsLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="form-group">
                <input type="submit" value="Edytuj hotel" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="form-group">
                <a class="btn btn-secondary" asp-action="Manage">Wróć do listy Twoich hoteli</a>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/xhqgakhggodairtclysnakgbf7do0ikutty8r5hm18befk1a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
